@import "bootstrap"

body
  font-family      : Meiryo
  background-color : #000

#wrapper
  margin: 30px
  padding: 30px
  #display
    text-align : right
    color      : #fff
    font-size  : 40px
  #display-process
    text-align : right
    color      : #aaa
    font-size  : 20px

  #buttons-container

  #operators

.btn
  border-radius: 0
  border-right : 0px
  border-bottom: 0px
  border-color : #000
  height       : 60px
  color        : #fff
  font-size    : 30px

.left-top
  border-radius: 10px 0 0 0

.left-bottom
  border-radius: 0 0 0 10px

.right-top
  border-radius: 0 10px 0 0

.right-bottom
  border-radius: 0 0 10px 0

.btn-default
  background-color: #555550

.btn-default:hover, .btn-default.btn-pressed
  color           : #fff
  background-color: #666660
  border-color    : #000

.btn-warning
  background-color: #ff9500

.btn-warning:hover, .btn-warning.btn-pressed
  background-color: #ffaa00
  border-color    : #000
