@import "bootstrap"

html, body
  overflow: hidden
  height  : 100%

body
  font-family      : Meiryo
  background-color : #000

#wrapper
  #display
    text-align : right
    color      : #fff
    font-size  : 40px

  #display-process
    text-align : right
    color      : #aaa
    font-size  : 20px

  #error-container
    text-align : center
    color      : rgb(187, 57, 57)
    font-size  : 13px
    margin-top : 10px


.btn
  border-radius: 0
  border-right : 0px
  border-bottom: 0px
  border-color : #333
  height       : 60px
  color        : #fff
  font-size    : 30px

.left-top
  border-radius: 10px 0 0 0

.left-bottom
  border-radius: 0 0 0 10px

.right-top
  border-radius: 0 10px 0 0

.right-bottom
  border-radius: 0 0 10px 0

.btn-default
  background-color: #555550

.btn-default:hover, .btn-default.btn-pressed
  color           : #fff
  background-color: #666660
  border-color    : #000

.btn-warning
  background-color: #ff9500

.btn-warning:hover, .btn-warning.btn-pressed
  background-color: #ffaa00
  border-color    : #000
